<h1><%= @service.short %> - <%= @service.title %></h1>

<% if @articles.empty? %>
  <h2>Keine Artikel vorhanden.</h2>
<% else %>
  <h2>Artikel</h2>
<% end %>
<ul>
  <% @articles.each do |article| %>
    <li><%= article.created_at.strftime("%d.%m.%Y") %> - <%= article.title %></li>
  <% end %>
</ul>

<% if @snippets.empty? %>
  <h2>Keine Snippets vorhanden.</h2>
<% else %>
  <h2>Snippets</h2>
<% end %>
<ul>
  <% @snippets.each do |snippet| %>
    <li><%= snippet.name %></li>
  <% end %>
</ul>

<%= link_to "Übersicht", services_path %>
